* {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 95);
}

.App {
  text-align: center;
  height: 100vh;
}

.scores-table {
  margin: 20px auto;
  font-size: 1.5rem;
  border-spacing: 10px 0;
}

.scores-row {
  margin: 0;
}

.scores-display {
  border: 1px solid black;
  padding: 5px 15px;
  margin: 0;
}

.border-top {
  border-top: none;
}

.border-bottom {
  border-bottom: none;
}


.table {
  margin: auto;
}

.table__data {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  padding: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

button {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 10px 25px;
  width: 315px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color, color 0.6s ease;
  /* transition-delay: 0.3s; */
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

button:active {
  background-color: black;
  color: white;
}